@model AwesomeTaskList.Models.Task


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <h2>Edit task</h2>
    <form method="post" action="@Url.Action("EditTask", "Home")">
        <div>
            <input type="hidden" name="Id" value="@Model.Id">
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="Title">Title</label>
                <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="Title">Due date</label>
                <input type="text" class="form-control" id="DueDate" name="DueDate" value="@Model.DueTime">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Edit</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href=&#39;/Home&#39;;">Cancel</button>
    </form>
</main>

