@model List<AwesomeTaskList.Models.Task>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <h2>All tasks</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th colspan="5">
                        <a href="@Url.Action("Create", "Home")">Create task</a>
                    </th>
                </tr>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due date</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-active">
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.DueTime</td>
                        <td>@item.Completed</td>
                        <td>
                            <a href="@Url.Action("Edit", "Home")?id=@item.Id">Edit</a> |
                            <a href="@Url.Action("Delete", "Home")?id=@item.Id">Delete</a> |
                            <a href="@Url.Action("Complete", "Home")?id=@item.Id">Complete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
